html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header-top {
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
  z-index: 10;
}

.header-top a {
  font-family: serif;
  font-weight: bold;
  padding: 20px 25px;
  font-size: 12px;
  transition: all 0.5s;
}

.header-top a:hover {
  cursor: pointer;
}

.tag {
  background-color: rgba(255, 255, 255, 0.6);
}

.tag:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #880000;
}

.Select-tag {
  background-color: #880000;
  color: white;
}

.main-wrapper {
  padding-top: 200px;
  background-repeat: no-repeat;
  background-image: url("https://static.wixstatic.com/media/403c3a_21e6b94a18cb49eb95e8a8c329b06b4b~mv2_d_2500_1663_s_2.jpg/v1/fill/w_1920,h_1277,al_c,q_85,usm_0.66_1.00_0.01/403c3a_21e6b94a18cb49eb95e8a8c329b06b4b~mv2_d_2500_1663_s_2.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 1800px;
  z-index: 1;
}

.main-container {
  margin: 0 auto;
  height: 1450px;
  width: 750px;
  background-image: url("008-cover-book0.png");
}

.main-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 60px 0 60px 0;
  color: #880000;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.card-container {
  text-align: center;
}

.card-1 {
  width: 45%;
  height: auto;
  margin-right: 5%;
  border: 1px solid rgb(175, 175, 175);
}

.card-2 {
  width: 45%;
  height: auto;
  border: 1px solid rgb(175, 175, 175);
}

.card-container p {
  padding-top: 20px;
  line-height: 23px;
}
.point-benefits{
  margin:60px 0 30px 0;
  text-align:center;
  font-size:25px;
  color: #880000;
}
span{
  font-weight:bold;
  font-size:23px;
}
.benefits-wrapper {
  display: flex;
  margin: 0 auto;
  padding-bottom:30px
}

.benefits-image {
  width: 280px;
  height: 180px;
  margin-right: 5%;
  margin-left: 2%;
  border: 10px ridge white;
}

.benefits-letter {
  line-height: 18px;
}

.benefits-letter h2 {
  font-size: 20px;
  padding: 20px 0 20px 0;
  color: #880000;
}

.benefits-letter p {
  font-size: 12px;
  padding:5px 0 15px 0;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #24190E;
  position: fixed;
  bottom: 0;
}

.footer-logo {
  font-size: 16px;
  line-height: 70px;
  padding-left: 20%;
  color: white;
}
